$screen_size__lg: 1241px; // Wide
$screen_size__md: 1200px; // Laptop
$screen_size__sm: 992px; // ?
$screen_size__xs: 767px; // tablet
$screen_size__xxs: 425px; // phone

@import "header.module.scss";
