// colapps button
.collpase-btn {
  display: none;
  color: #4b0082;
  font-size: 1.5rem;
  cursor: pointer;
  &:hover {
    color: #4b0082;
  }
}
#collpase-btn-check {
  display: none;
}

@media screen and (max-width: 767px) {
  .collpase-btn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 90px;
    right: -100%;
    transition: all 0.5s;
    text-align: center;
    display: block;
    background-color: white;
  }
  ul > li {
    margin: 3rem 0;
  }

  #collpase-btn-check:checked + ul {
    right: 0;
  }
}
